---
import Base from '../layouts/Base.astro'
---

<Base titre="Accueil">
    <h1 class="text-6xl text-center">Accueil</h1>
    <div>
        <div class="grid grid-cols-3 gap-10 py-7 text-2xl">
            <p class="col-span-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iusto eligendi, vitae culpa, veritatis sunt unde ea, voluptate harum vero fugiat atque velit! Porro assumenda, sequi numquam commodi nihil ut.</p>
            <p class="col-span-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iusto eligendi, vitae culpa, veritatis sunt unde ea, voluptate harum vero fugiat atque velit! Porro assumenda, sequi numquam commodi nihil ut.</p>
            <p class="col-span-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iusto eligendi, vitae culpa, veritatis sunt unde ea, voluptate harum vero fugiat atque velit! Porro assumenda, sequi numquam commodi nihil ut.</p>
        </div>
        <div>
            <div class="grid grid-cols-2 gap-12 py-10 text-xl">
                <p class="col-span-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iusto eligendi, vitae culpa, veritatis sunt unde ea, voluptate harum vero fugiat atque velit! Porro assumenda, sequi numquam commodi nihil ut.</p>
                <p class="col-span-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iusto eligendi, vitae culpa, veritatis sunt unde ea, voluptate harum vero fugiat atque velit! Porro assumenda, sequi numquam commodi nihil ut.</p>
            </div>
        </div>

        <div class="grid grid-cols-10 gap-4 py-10">
            <p class="col-span-1">Élément inutile 0 </p>
            <p class="col-span-1">Élément inutile 1 </p>
            <p class="col-span-1">Élément inutile 2 </p>
            <p class="col-span-1">Élément inutile 3 </p>
            <p class="col-span-1">Élément inutile 4 </p>
            <p class="col-span-1">Élément inutile 5 </p>
            <p class="col-span-1">Élément inutile 6 </p>
            <p class="col-span-1">Élément inutile 7 </p>
            <p class="col-span-1">Élément inutile 8 </p>
            <p class="col-span-1">Élément inutile 9 </p>
        </div>

        <div class="grid grid-cols-6 gap-4 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-10">
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
            <div class="w-24 h-24 bg-green-500"></div>
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
            <div class="w-24 h-24 bg-green-500"></div>
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
            <div class="w-24 h-24 bg-green-500"></div>
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
            <div class="w-24 h-24 bg-green-500"></div>
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
            <div class="w-24 h-24 bg-green-500"></div>
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
            <div class="w-24 h-24 bg-green-500"></div>
            <div class="w-24 h-24 bg-red-500"></div>
            <div class="w-24 h-24 bg-blue-500"></div>
        </div>

    </div>

    
</Base>