---
import { allMaisonsFavori } from '../backend.mjs';

const maisonsFavoris = await allMaisonsFavori();
const imgUrls = maisonsFavoris.map(maison => maison.imgUrl);
---

<div x-data="{ images: <?json imgUrls ?>, current: 0 }" class="relative">
  <!-- Carousel : affichage de l'image courante -->
  <div class="overflow-hidden">
    <template x-for="(img, i) in images" :key="i">
      <div x-show="current === i">
        <img :src="img" class="w-full h-64 object-cover">
      </div>
    </template>
  </div>
  
  <!-- Boutons de navigation -->
  <button @click="current = (current - 1 + images.length) % images.length" 
          class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-black text-white p-2 rounded-full">
    ❮
  </button>
  <button @click="current = (current + 1) % images.length" 
          class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-black text-white p-2 rounded-full">
    ❯
  </button>
</div>
