---

---

<footer class="bg-black text-white">
    <div class="cp-4 text-center py-5">
    <h3>Ce footer est vraiment super bien fait </h3>
    <ul>
        <li><a href="" class="text-sm font-bold hover:text-purple-500 hover:scale-110 transition-all">Élément 1</a></li>
        <li><a href="" class="text-sm font-bold hover:text-purple-500 hover:scale-110 transition-all">Élément 2</a></li>
        <li><a href="" class="text-sm font-bold hover:text-purple-500 hover:scale-110 transition-all">Élément 3</a></li> 
        <li><a href="" class="text-sm font-bold hover:text-purple-500 hover:scale-110 transition-all">Élément 4</a></li>
    </ul>
    <h4 class="text-xl">TP-1 Développement Web</h4>
    </div>
</footer>