---

---

<nav class="bg-black text-white p-4 font-bold flex gap-8">
    <a href="/" class="hover:text-orange-500 hover:scale-110 transition-all">Accueil</a>
    <a href="/offres" class="hover:text-orange-500 hover:scale-110 transition-all">Offres</a>
</nav>